    /* your styles go here */
    
    .col-md-6 .img-responsive {
        -ms-transform: rotate(90deg);
        /*IE 9*/
        -webkit-transform: rotate(90deg);
        /*Chrome, Safari, Opera*/
        transform: rotate(90deg);
        margin-top: 60px;
        margin-bottom: 30px;
        height: auto;
        width: auto;
    }
    
    .btn-lg {
        background-color: transparent;
        align-content: center;
        border-width: medium;
    }
    
    #resume .col-md-12 > .row {
        text-align: center;
        padding: 10px;
    }
    
    #contact .col-md-6 {
        text-align: center;
    }