body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #7d7d7d;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../img/arsenal-fc-logo.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../img/barcelona-fc-logo.jpg");
    min-height: 400px;
}

/* Third image (Resume) */
.bgimg-3 {
    background-image: url("../img/carolina-panthers.jpg");
    min-height: 400px;
}

/* Fourth image (Contact) */
.bgimg-4 {
    background-image: url("../img/spurs.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

#home > div:nth-child(1) > span {
    font-size: 1.5rem;
}

.col-md-12 {
    text-align: center;
}

.col-md-12 > div * {
    border-style: solid;
}

#resume > div > div > div:nth-child(3) {
    padding: 1.5rem;
}

body.modal-open {
    overflow: visible;
}

.slick-prev:before, .slick-next:before { 
    color:black !important;
}

#portfolio img{
	width: 100%;
	min-height: 100%;
}

.slider-nav{
	width: 90%;
	height: auto;
	margin: auto;
}

.slider-for{
	width: 500px;
	height: 100%;
	margin: 30px auto 1px;
	overflow: hidden;
}

#portfolio img {
    height: 20.0rem;
    text-align: center;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}